@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.avisos {
    text-align: center;
    background-color: black;
    color: white;
}

.logo {
    font-family: "Lobster", sans-serif;
    text-align: center;
}

.container {
    color: grey;
    display: flex;
    justify-content: space-evenly;
}

.containerdos {
    position: relative;
    display: inline-block;
    text-align: center;
}

.logodos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -200%);
    font-family: "Roboto Mono", monospace;
    font-size: 400%;
    color: black;
}

img {
    width: 100%;
    
}

.ventas {
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all 3s;

}

.ventauno {
    width: 40%;
    height: 40%;
    
    
}

.ventados {
    width: 33%;
    height: 33%;
    
}

.ventatres {
    width: 40%;
    height: 80%;
}

.venta:hover {
    transform: scale(1.1) translateY(-40px);
}

.logo {
    animation:slide-in-blurred-top .6s cubic-bezier(.23,1.000,.32,1.000) both;
    animation-delay: 1.5s;
}

a {
    text-decoration: none;
    color: gray;
}

.pie {
    background: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 4rem 0;
}

.pietitulo {
    font-family: "Lobster", sans-serif;
}

.pietexto {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

 @keyframes slide-in-blurred-top{0%{transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform-origin:50% 0;filter:blur(40px);opacity:0}100%{transform:translateY(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}